In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("insurance.csv")
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [2]:
df1=df.copy()
df1["smoker"]=df1["smoker"].replace({"yes":1,"no":0})
df1["sex"]=df1["sex"].replace({"female":1,"male":0})
df1

      age  sex   bmi  children  smoker     region  expenses
0      19    1  27.9         0       1  southwest  16884.92
1      18    0  33.8         1       0  southeast   1725.55
2      28    0  33.0         3       0  southeast   4449.46
3      33    0  22.7         0       0  northwest  21984.47
4      32    0  28.9         0       0  northwest   3866.86
...   ...  ...   ...       ...     ...        ...       ...
1333   50    0  31.0         3       0  northwest  10600.55
1334   18    1  31.9         0       0  northeast   2205.98
1335   18    1  36.9         0       0  southeast   1629.83
1336   21    1  25.8         0       0  southwest   2007.95
1337   61    1  29.1         0       1  northwest  29141.36

[1338 rows x 7 columns]

In [3]:
df1["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [4]:
x=df1.iloc[:,:-2].values
y=df1.iloc[:,-1].values
print(x)
print(y)

[[19.   1.  27.9  0.   1. ]
 [18.   0.  33.8  1.   0. ]
 [28.   0.  33.   3.   0. ]
 ...
 [18.   1.  36.9  0.   0. ]
 [21.   1.  25.8  0.   0. ]
 [61.   1.  29.1  0.   1. ]]
[16884.92  1725.55  4449.46 ...  1629.83  2007.95 29141.36]

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=11)
print(f'shape of training set-{x_train.shape}')
print(f'shape of testing set-{x_test.shape}')

shape of training set-(1070, 5)
shape of testing set-(268, 5)

fitting the model (multiple) linear regression to the training set

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix
regressor=LinearRegression()
regressor.fit(x_train,y_train)
#model is called

LinearRegression()

In [7]:
c=regressor.coef_
i=regressor.intercept_
print(c,i)

[  264.52568266   401.47267289   327.93955799   540.55974196
 23533.75748347] -12769.548222924124

predicting the test set results

In [8]:
y_pred=regressor.predict(x_test)

compare the predicted results btw y_test and y_pred

In [9]:
regressor.score(x_test,y_test)

0.7989382227343123