In [26]:
import numpy as np
import pandas as pd
df=pd.read_csv("iris.csv")
df.columns=['F1','F2','F3','F4','F5','F6','Target']
print(df.shape)
df.head()

(150, 7)

   F1  F2   F3   F4   F5   F6       Target
0   1   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2   2  4.9    3  1.4  0.2  Iris-setosa
2   3   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5   5  5.0  3.6  1.4  0.2  Iris-setosa

In [27]:
df['Target'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Target, dtype: int64

In [28]:
df.isna().sum()

F1        0
F2        0
F3        3
F4        1
F5        1
F6        0
Target    0
dtype: int64

drop na remove axis if it have null value

In [29]:
df1=df.dropna()
df1.shape

(145, 7)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      150 non-null    int64
 1   F2      150 non-null    int64
 2   F3      147 non-null    float64
 3   F4      149 non-null    object
 4   F5      149 non-null    object
 5   F6      150 non-null    float64
 6   Target  150 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 8.3+ KB

check df1 remove the null values with df1 set

In [31]:
df1.isna().sum()

F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
Target    0
dtype: int64

to convert target value catogorical value to numeric value

In [32]:
dic={'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}
df1['Target']=df1['Target'].map(dic)
df1

C:\Users\Harsh tyagi\AppData\Local\Temp\ipykernel_17496\1994984217.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Target']=df1['Target'].map(dic)

      F1   F2   F3   F4   F5   F6  Target
0      1    1  5.1  3.5  1.4  0.2       0
1      2    2  4.9    3  1.4  0.2       0
2      3    3  4.7  3.2  1.3  0.2       0
3      4    4  4.6  3.1  1.5  0.2       0
4      5    5  5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...  ...  ...     ...
145  146  146  6.7    3  5.2  2.3       2
146  147  147  6.3  2.5    5  1.9       2
147  148  148  6.5    3  5.2  2.0       2
148  149  149  6.2  3.4  5.4  2.3       2
149  150  150  5.9    3  5.1  1.8       2

[145 rows x 7 columns]

this is spiliting the data in to dependent and independent variables

In [33]:
x=df1[['F1','F2','F3','F4','F5','F6']]
y=df1['Target']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=123)

checking the shape of our test and train

In [34]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(145, 6)
(101, 6)
(44, 6)

In [37]:
print(x_train)
print(y_train)

      F1   F2   F3   F4   F5   F6
51    52   52  6.4  3.2  4.5  1.5
133  134  134  6.3  2.8  5.1  1.5
117  118  118  7.7  3.8  6.7  2.2
112  113  113  6.8    3  5.5  2.1
65    66   66  6.7  3.1  4.4  1.4
..   ...  ...  ...  ...  ...  ...
22    23   23  4.6  3.6    1  0.2
103  104  104  6.3  2.9  5.6  1.8
71    72   72  6.1  2.8    4  1.3
131  132  132  7.9  3.8  6.4  2.0
114  115  115  5.8  2.8  5.1  2.4

[101 rows x 6 columns]
51     1
133    2
117    2
112    2
65     1
      ..
22     0
103    2
71     1
131    2
114    2
Name: Target, Length: 101, dtype: int64

In [36]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_train_pred=clf.predict(x_train)
y_test_pred=clf.predict(x_test)

ValueError: could not convert string to float: '##'